@import "../vars";

.imageShowcase {
  width: 100vw;
  height: 100vh;
  display: flex;

  .left {
    width: 50vw;
    height: 100vh;
    padding-top: 150px;
    text-align: right;
    padding-right: 47px;
    box-sizing: border-box;

    .title {
      font-size: 35px;
      color: $mainColor;
    }
    .name {
      font-size: 67px;
      white-space: pre-wrap;
      color: $mainColor;
    }
    .apartment, .instagram {
      color: $black;
      font-size: 25px;

      svg {
        margin-right: 5px;
      }
    }
    .description {
      font-size: 50px;
      color: $black;
    }

  }
  .right {
    width: 50vw;
    height: 100vh;
    background-size: cover;
  }

  @media (max-width: 800px) {
    overflow-y: auto;
    flex-direction: column;
    .left {
      width: 100vw;
      order: 2;
      padding-top: 20px;

      .title {
        font-size: 24px;
      }
      .name {
        font-size: 35px;
      }
      .description {
        font-size: 24px
      }
    }
    .right {
      height: 100vw;
      width: 100vw;
      order: 1;
    }
  }
}
