@import "../vars";

.socialContent {
  width: 100vw;
  height: 100vh;
  display: flex;
  // flex-direction: column;
  padding-top: 120px;

  .left {
    display: flex;
    flex-direction: column;
    width: 60vw;

    .messageBox {
      width: 70%;
      margin-left: 90px;
      box-sizing: border-box;
      margin-bottom: 50px;
      display: flex;

      .info {
        display: flex;
        flex-direction: column;

        .message {
          width: 100%;
          font-size: 36px;
          line-height: 30px;
        }

        .sender {
          font-size: 24px;
        }
      }

      .senderImage {
        margin-right: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }
      }
    }
  }
  .right {
    width: 40vw;
    display: flex;
    justify-content: flex-start;

    img {
      width: 320px;
      height: 650px;
    }
  }

  @media (max-width: 800px) {
    overflow-y: auto;
    padding-top: 30px;
    flex-direction: column;
    .left {
      width: 100vw;
      padding-bottom: 200px;
      .messageBox {
        margin-left: 10px;
        width: 100%;
        margin-bottom: 50px;

        .info {
          .message {
            width: 80%;
            font-size: 24px;
            line-height: 20px;
            margin-bottom: 10px;
          }

          .sender {
            font-size: 17px;
          }
        }

        .senderImage {
          margin-right: 20px;
          display: flex;

          img {
            width: 70px;
            height: 70px;
          }
        }
      }
    }
    .right {
      display: none;
      justify-content: center;
      align-items: center;
      width: 100%;

      img {
        width: 80%;
        height: auto;
      }
    }
  }
}

.input {
  height: 0;
  transition: all .5s ease-in-out;
  overflow: hidden;
  width: 100vw;
  box-sizing: border-box;

  &.show {
    height: 300px;
    padding: 20px;
  }

  label {
    display: block;
    margin-bottom: 16px;

    input {
      margin-top: 4px;
      display: block;
      padding: 5px;
      font-size: 16px;
      border: none;
      width: 80%;
    }

    textarea {
      margin-top: 4px;
      display: block;
      width: 80%;
      height: 100px;
    }
  }
}
