.staticContent {
  width: 100vw;
  height: 100vh;

  &.mobile {
    overflow-y: auto;

    img {
      height: auto;
    }
    svg {
      height: 950px;
    }
  }

  svg {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
