@import "../vars";

.fidCode {
  position: absolute;
  right: -60px;
  top: 0;

  &.light {
    svg {
      path, rect {
        stroke: white;
      }
    }
  }
  &.dark {
    svg {
      path, rect {
        stroke: black;
        fill: black;
      }
    }
  }

  svg {
    transform: scaleX(-1);
    height: 100vh;
    transition: all .5s ease-in-out;
  }

  .qrCode {
    position: absolute;
    bottom: 20px;
    right: 86px;
    transform: rotateZ(45deg);
  }
}
