@import "../vars";

.time {
  // color: $mainColorLight;
  position: absolute;
  top: 0;
  right: 20px;
  font-weight: 200;
  display: flex;

  .left {
    .weather {
      margin-top: -10px;

      img {
        height: 80px;
      }
    }
  }
  .right {
    text-align: right;
    margin-left: -20px;
    .timeString {
      font-size: 82px;
      line-height: 77px;
    }

    .dateString {
      font-size: 22px;
    }

    .addressString {
      text-transform: uppercase;
      font-size: 15px;
    }
  }
}
