@import "../vars";

.topBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  z-index: 1000;
  background-color: white;
  width: 100vw;
  justify-content: flex-start;

  .subway, .sauna, .weather {

  }
  .info {
    width: 60vw;
    display: flex;
    justify-content: flex-start;

    .weather {
      margin-top: -13px;
      margin-left: -150px;
    }

    img {
      height: 80px;
    }
  }
}
