@import "./vars";

.companion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: FuturaPT, sans-serif;

  h1 {
    text-align: center;
  }

  .nav {
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-between;

    .left, .right {
      padding: 20px;
    }
  }
}
