@font-face { // bold
  font-family: 'FuturaPT';
  src: url(/fonts/FuturaPTBold.otf);
  font-weight: bold;
}
@font-face { // book
  font-family: 'FuturaPT';
  src: url(/fonts/FuturaPTBook.otf);
  font-weight: normal;
}
@font-face {
  font-family: 'FuturaPT';
  src: url(/fonts/FuturaPTLight.otf);
  font-weight: 200;
}
