@import "./vars";

.frame {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: FuturaPT, sans-serif;

  .slider {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 1s ease-in-out;
  }
}
